<br>
<% if @records.size > 0 %>
  <%= render 'shared/sort_products' %>
  <div class="row products">
    <%= render @records %>
  <% else %>
    <h2>Not Found</h2>
  </div>
<% end %>
<br>
<div class="nav-bar pagination">
  <% if @pagy.pages > 1 %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <%== pagy_info(@pagy) %>
  <% end %>
</div>
