<br>
<%= render 'shared/sort_products' %>
<div class="row products">
  <%= render @records %>
</div>
<br>
<div class="nav-bar">
  <% if @pagy.pages > 1 %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <%== pagy_info(@pagy) %>
  <% end %>
</div>
