<div class="container">
  <p><%= @product.title %></p>
  <p><%= @product.description %></p>
  <p><%= @product.price %></p>
  <p><%= button_to 'Buy', product_order_items_path(@product), class: 'btn btn-success' %></p>
</div>
